{% extends '../blank.html' %}


{% block title %}
Unknown error
{% end %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">

            <h1>
                <span class="fa fa-bug fa-5x"></span>
                <br>
                <span class="text-danger">Unknown error!</span>
            </h1>
            <p class="lead text-muted">An unknown error has occurred.</p>

            <hr>

            <ul class="list-inline">
                <li>
                    <a href="/">Go home</a>
                </li>
                <li>
                    <a href="/auth/login">Login page</a>
                </li>
                <li>
                    <a href="/about">About site</a>
                </li>
            </ul>

        </div>
    </div>
</div>
{% end %}