{% extends '../blank_with_menu.html' %}


{% block title %}General{% end %}


{% block content %}
<dl class="dl-horizontal">
    <dt>Operation system</dt>
    <dd>Ubuntu 12.04 LTS</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Architecture</dt>
    <dd>64-bit</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Hostname</dt>
    <dd>workstation</dd>
</dl>
<dl class="dl-horizontal">
    <dt>CPU</dt>
    <dd>Intel(R) Core(TM) i3-3110M CPU @ 2.40GHz</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Boot time</dt>
    <dd>
        12:50:00 12.06.2014
        <span class="label label-info" id="uptime">02:48:00 online</span>
    </dd>
</dl>
<dl class="dl-horizontal">
    <dt>Total memory</dt>
    <dd>6GB</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Total disk memory</dt>
    <dd>600GB</dd>
</dl>
{% end %}
