{% extends '../blank_with_menu.html' %}


{% block title %}General{% end %}


{% block content %}
<dl class="dl-horizontal">
    <dt>Operation system</dt>
    <dd>{{ computer['os'] }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Architecture</dt>
    <dd>{{ computer['architecture'] }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Hostname</dt>
    <dd>{{ computer['hostname'] }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>CPU</dt>
    <dd>{{ computer['cpu_name'] }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Boot time</dt>
    <dd>
        {{ computer['boot_time'] }}
        <span class="label label-info" id="uptime">{{ computer['uptime'] }}</span>
    </dd>
</dl>
<dl class="dl-horizontal">
    <dt>Total memory</dt>
    <dd>{{ computer['total_mem'] }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Total disk memory</dt>
    <dd>{{ computer['total_disk_mem'] }}</dd>
</dl>
{% end %}
